<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <main class="form-signin w-100 m-auto">
        <form [formGroup]="form_cadastro" (ngSubmit)="adicionarUsuario()">
            <h1 class="h3 mb-3 fw-normal">Cadastro</h1>

            <div class="form-floating my-4">
                <p-floatLabel>
                    <input type="text" class="form-control" id="nome" name="nome" formControlName="nome" pInputText/>
                    <label for="nome">Nome</label>
                </p-floatLabel>
                
            </div>

            <div class="form-floating mt-4">
                <p-floatLabel>
                    <input type="email" class="form-control" id="email" name="email" formControlName="email" pInputText/>
                    <label for="email">Email</label>
                </p-floatLabel>
                
            </div>

            <div class="form-floating mt-4 mb-3">
                <p-floatLabel>
                    <p-password type="password" id="senha" name="senha" formControlName="senha" [toggleMask]="true" />
                    <label for="senha">Senha</label>
                </p-floatLabel>
                
                
            </div>

            <button pButton pRipple label="Cadastrar" class="py-2" type="submit"
                [disabled]="form_cadastro.invalid"></button>
                
            <div *ngIf="form_cadastro.get('senha')?.invalid && form_cadastro.get('senha')?.touched" class="alert alert-danger mt-3" role="alert">
                <i class="pi pi-exclamation-triangle"></i> Preencha a senha com no mínimo 6 e no máximo 8 caracteres!
              </div>
            <div *ngIf="form_cadastro.get('email')?.invalid && form_cadastro.get('email')?.touched" class="alert alert-danger mt-3" role="alert">
                <i class="pi pi-exclamation-triangle"></i> Email incorreto!
              </div>
          
              <div *ngIf="form_cadastro.get('nome')?.invalid && form_cadastro.get('nome')?.touched" class="alert alert-danger mt-3" role="alert">
                <i class="pi pi-exclamation-triangle"></i> Preencha seu nome com no mínimo 2 caracteres!
              </div>
        </form>

    </main>
</body>