<form id="formulario" class="formulario" method="POST" action="localhost:3000/add-usuario">
    <div class="formulario__texto">
        <h5>Cadastro</h5>
    </div>

    <div class="formulario__itens read">
        <label for="nome" class="formulario__itens__texto">Nome: </label>
        <input id="nome" name="nome" type="text" class="formulario__itens__input" placeholder="(Sem Informações)">
    </div>
    <div class="formulario__itens read">
        <label for="email" class="formulario__itens__texto">Email: </label>
        <input id="email" name="email" type="text" class="formulario__itens__input" placeholder="(Sem informações)" >
    </div>
    <div class="formulario__itens read">
        <label for="senha" class="formulario__itens__texto">Senha: </label>
        <input id="senha" type="senha" class="formulario__itens__input" placeholder="(Sem informações)" >
    </div>

    <div class="formulario__botao">
        <button class="btn btn-warning" type="submit">Cadastrar</button>
    </div>
</form>