
<h5 [ngStyle]="{color: 'var(--indigo-800)'}" class="my-4">Meus favoritos</h5>



<div [ngStyle]="{color: 'var(--text-color)'}" class="div-card my-4">
    <p *ngIf="favoritosInfo.length === 0"><b>Nenhum livro adicionado aos favoritos!</b></p>
    <div *ngFor="let item of favoritosInfo" class="card mb-3" style="max-width: 540px;">
        <div routerLink="/livro" (click)="selecionar(item.id)" class="row g-0">
            <div class="col-md-4">
                <img [src]="item.volumeInfo.imageLinks?.smallThumbnail || 'sem_capa.png'" class="img-fluid rounded-start"
                    alt="item.volumeInfo.title" style="width: 120px; height: 180px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.volumeInfo.title}} <span class="badge text-bg-warning"></span></h5>
                    <p class="card-text"><small class="text-body-secondary"><b>Autor(es):</b> {{item.volumeInfo.authors
                            || "Desconhecido"}}
                            <br><b>Categoria(s):</b> {{item.volumeInfo.categories[0] || 'Sem categoria'}}</small>

                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
