<form class="d-flex align-items-center card flex flex-column md:flex-row gap-3" role="search" [formGroup]="formBusca">
    <p-inputGroup>
        <input 
            type="text" 
            pInputText 
            id="nome" 
            name="nome" 
            placeholder="Título do livro" 
            formControlName="nome" 
            aria-label="Título do livro">
        <button 
            pButton 
            icon="pi pi-search" 
            type="button" 
            [disabled]="formBusca.invalid" 
            (click)="buscar()"
            routerLink="/mostrar">
        </button>
    </p-inputGroup>
</form>
